@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Dashboard Layout */
.dashboard {
  display: flex;
  gap: 24px;
  /* height: 100vh; */
  background: #f1f1f1;
}

/* Sidebar */
.sidebar {
  width: 300px;
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.resSidebar{
  width: 100%;
  background: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding: 15px;
  margin-bottom: 20px;
}
.nav {
  padding: 32px 0;
}

.nav,
.bottom-nav,
.mid-nav {
  list-style: none;
}

.mid-nav {
  padding-top: 32px;
  border-top: 2px solid #d9d9d9;
}

.nav li,
.mid-nav li,
.bottom-nav li {
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 14px;
}

.nav li.active {
  background: #ddd;
  border-radius: 5px;
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 20px;
  background: #f1f1f1;
}
/* Top Navigation */
.search-box {
  width: 100%;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 28px;
}

/* Overview Section */
.over-container {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 14px;
}

.overview {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 14px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.activeCard {
  background: #4b49ac;
  color: #fff;
}
.card-top {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 24px;
  border-bottom: 1px solid #c8c2c2;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
}

/* Analytics Section */
.analytics {
  margin-top: 15px;
  background-color: #ffffff;
  padding: 18px;
  border-radius: 14px;
}

.analytics > div:first-child {
  padding-bottom: 8px;
}

/* Right Sidebar */

.top-icons {
  display: flex;
  justify-content: space-between;
  /* gap: 15px; */
  align-items: center;
  width: 100%;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 28px;
}
.top-icons button {
  border: 1px solid #dedede;
  padding: 8px 16px;
  border-radius: 40%;
  cursor: pointer;
}
.right-sidebar {
  width: 400px;
  padding: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #f1f1f1;
  /* background: #f8f8f8; */
}
.profile {
  display: flex;
  align-items: center;
  gap: 8px;
}

.profilePic {
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  border: 1px #d9d9d9;
  border-style: double;
  border-radius: 100%;
}
.saving {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.saving > div:first-child {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdbdb;
}

.transaction {
  display: flex;
  flex-direction: column;
  gap: 32px;
  background: white;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.transaction > div:first-child {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dfdbdb;
}

.transactionPic {
  height: 50px;
  width: 50px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  padding: 8px;
  border: 1px #d9d9d9;
  border-style: double;
  border-radius: 100%;
}

.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown {
  appearance: none;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 120px;
  text-align: center;
  /* arrow */
  background-image: url('data:image/svg+xml;utf8,<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.54134 0.0825195L4.50047 3.12339L1.45959 0.0825195L0.458008 1.0841L4.50047 5.12656L8.54292 1.0841L7.54134 0.0825195Z" fill="%230D163A"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

/* responsive */
@media screen and (max-width: 1030px) {
  .dashboard {
    display: flex;
    flex-direction: column;
    gap: 14px;
    /* height: 100vh; */
    background: #f1f1f1;
  }
  .sidebar {
    width: 100%;
    background: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;
    background: #f1f1f1;
  }
  .right-sidebar {
    width: 100%;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: #f1f1f1;
  }
}